*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cont{
    width: 600px;
    height: 250px;
    background-color: rgb(236, 236, 236);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
}
.badW{
    width: 98%;
    height: 40px;
    margin: 5px;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.bwList{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: rgb(224, 55, 55);
    margin-left: 5px;
}
.addWord{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#area{
    width: 98%;
    height: 100px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 4px;
}
.add,
.reset{
    width: 70px;
    height: 35px;
}
.inp{
    padding-left: 10px;
}
.cenzor{
    height: 33px;
    width: 98%
}
.redBd{
    border: 1px solid red;
}
