<div class="container d-flex justify-content-around mt-5 pt-5">
    <div class="border box row d-flex justify-content-center">
        <div class="ins-box">
            <div class="image1"></div>
            <h6 class="taskName">Angular list of prohibited words</h6>
        </div>
        <button class="btn btn-success m-2 col-11" [routerLink]="[ '/works' , 'cenzor']">details</button>
    </div>
    <div class="border box row d-flex justify-content-center">
        <div class="ins-box">
            <div class="image2"></div>
            <h6 class="taskName">Angular users list</h6>
        </div>
        <button class="btn btn-success m-2 col-11" [routerLink]="[ '/works' , 'userslist']">details</button>
    </div>
    <div class="border box row d-flex justify-content-center">
        <div class="ins-box ">
            <div class="image3"></div>
            <h6 class="taskName">Angular tasks list</h6>
        </div>
        <button class="btn btn-success m-2 col-11" [routerLink]="[ '/works' , 'taskslist']">details</button>
    </div>
</div>